<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26991C8C2AD972A400F42EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26991CA12AD972A500F42EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26991CAB2AD972A500F42EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
